:root {
	--varaiable: 10px;
}

body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.mt-5 {
	margin-top: 50px;
}
.mt-2 {
	margin-top: 20px;
}

.mt-1 {
	margin-top: 10px;
}

.center {
	text-align: center;
}
.container-30 {
	width: 30%;
	margin-left: 0;
	margin-right: auto;
}
.first-block {
	background-image: url("./Background/Background.png");
	background-size: 100% 100%;
}

/* NAVBAR */

.container {
	width: 70vw;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	/* padding-top: 25px; */
}

.navbar {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
}

ul {
	display: inline-block;
}

li {
	display: inline;
	padding: 1rem;
}

.download-btns {
	float: right;
}

.headings {
	position: relative;
	margin-top: 20%;
	/* line-height: 80px; */
	float: left;
	font-size: 72px;
	font-weight: 800;
	color: #18191f;
}
/* .headings::before {
	content: "Organise Projects.";
	position: absolute;
	bottom: -100%;
	left: 0%;
} */
.headings::after {
	content: "Get more done.";
	position: absolute;
	bottom: -1.2em;
	left: 0%;
}
.getstarted {
	position: absolute;
	top: 200%;
}
.getstarted button {
	background-color: #8c30f5;
	border-radius: 6px;
	padding: 12px 32px;
	color: white;
	margin-left: 10px;
}
.iphone {
	float: right;
	margin-top: 15%;
}

@media only screen and (min-device-width: 700px) and (max-device-width: 890px) {
	.headings {
		font-size: 36px;
	}
	.getstarted button {
		border-radius: 6px;
		padding: 6px 16px;
	}
	.iphone {
		bottom: 10%;
	}
}

@media only screen and (min-device-width: 415px) and (max-device-width: 700px) {
	.content {
		position: relative;
	}
	.headings {
		font-size: 18px;
	}
	.getstarted button {
		border-radius: 6px;
		padding: 6px 16px;
	}
	.iphone img {
		width: 75%;
		height: 60%;
		float: right;
		margin-top: 10%;
	}
}
@media screen and (max-width: 415px) {
	.content {
		position: relative;
	}
	.headings {
		font-size: 18px;
	}

	.getstarted button {
		border-radius: 6px;
		padding: 6px 16px;
	}
	.iphone img {
		width: 50%;
		height: 50%;
		float: right;
		margin-top: 10%;
	}
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0)
	);
}

.carousel ul {
	display: flex;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.carousel ul li {
	display: block;
	list-style: none;
	margin-left: 2vw;
	margin-right: 2vw;
	text-align: center;
}
.carouselbutton {
	border: none;
	background: none;
}

.carouselbutton:hover {
	cursor: pointer;
}

.carouselwindow ul li {
	/* height: 60px; */
	overflow-x: hidden;
}

/* TAILOR MADE FEATURES */
.tailor {
	padding-bottom: 50px;
}
.tailor-container {
	width: 35vw;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 80px;
}

.tailor-container h2 {
	font-size: 48px;
	margin-bottom: 0px;
	box-sizing: border-box;
}

.lorem {
	text-align: center;
	margin-top: 10px;
}

.column {
	float: left;
	width: 30%;
	padding: 10px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.tailor-container {
		width: 70vw;
	}
	.column {
		width: 70%;
		margin-left: 10%;
	}
}

@media only screen and (min-device-width: 400px) and (max-device-width: 768px) {
	.tailor-container {
		width: 90vw;
	}
	.column {
		width: 90%;
		margin-left: 3%;
	}
}

@media only screen and (min-device-width: 300px) and (max-device-width: 400px) {
	.tailor-container {
		width: 100vw;
	}
	.column {
		width: 90%;
	}
}
.real-customers {
	background-color: #d5fafc;
	padding-top: 50px;
}

.real-customers span {
	margin-left: -50px;
	font-size: 50px;
	font-weight: 800;
	font-family: Arial, Helvetica, sans-serif;
}

.real-customers span pre {
	margin-left: 100px;
	margin-top: 0;
	font-size: 50px;
	font-weight: 900;
	font-family: Arial, Helvetica, sans-serif;
}

/* ACHIEVEMENTS */

.column-35 {
	float: left;
	width: 35%;
}

.column-50 {
	float: left;
	width: 50%;
}
.column-20 {
	float: left;
	width: 20%;
}
.column-20r {
	float: right;
	width: 20%;
}
.column-80 {
	float: left;
	width: 80%;
}
.column-50r {
	float: right;
	width: 50%;
}

.ml-2p {
	margin-left: 5%;
}

.achievements h1 {
	font-size: 48px;
	font-weight: 800;
}

.halfiphone {
	margin-top: 20vh;
	background-color: #f1e4ff;
	border: 1px;
	border-radius: 5px;
	text-align: center;
	max-height: 50vh;
}

.headline {
	margin-top: 10vw;
}

a {
	text-decoration: none;
}

a:after {
	color: purple;
}

.icons {
	float: right;
}

/* @media only screen and (min-device-width: 300px) and (max-device-width: 400px) {
	
} */

.footer {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #0b0d17;
	/* height: 50px; */
}

.footer a {
	text-decoration: none;
	color: white;
}

.links {
	margin-top: 10px;
	font-size: 10px;
}

.footer p {
	margin-top: 15px;
	color: white;
	font-size: 10px;
}

@media only screen and (min-device-width: 760px) and (max-device-width: 1024px) {
	.column-35 {
		width: 70%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.achievements h1 {
		font-size: 40px;
	}
	.achievements p {
		font-size: 15px;
	}
	.halfiphone {
		margin-top: 5vw;
		background-color: #f1e4ff;
		border: 1px;
		border-radius: 5px;
		text-align: center;
		max-height: 60vw;
		overflow: hidden;
	}
	.icons {
		float: none;
		padding-top: 40px;
	}
}

@media only screen and (min-device-width: 300px) and (max-device-width: 760px) {
	.column-35 {
		width: 100%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	.achievements h1 {
		font-size: 30px;
	}
	.achievements p {
		font-size: 10px;
	}
	.halfiphone {
		margin-top: 5vw;
		background-color: #f1e4ff;
		border: 1px;
		border-radius: 5px;
		text-align: center;
		max-height: 60vw;
		overflow: hidden;
	}
	.halfiphone img {
		width: 75%;
		height: 75%;
	}
	.icons {
		float: none;
		padding-top: 40px;
	}
	.column-50 {
		text-align: center;
		width: 70%;
		margin-left: 10vw;
	}
	.column-80 {
		float: left;
		width: 100%;
	}
	.column-20 {
		float: left;
		width: 100%;
		padding-bottom: 5px;
	}
	.download-img img {
		width: 50%;
		height: 50%;
	}
}
